@font-face {
    font-family: 'robotoSlab';
    src: url(fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'spaceMono';
    src: url(fonts/Space_Mono/SpaceMono-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'kumbhSans';
    src: url(fonts/Kumbh_Sans/static/KumbhSans-Regular.ttf) format(truetype);
}

body{
    position: relative;
    width: 1440px;
    height: 800px;
    background-color : rgb(30,33,63);
}

#titleSVG{
    position: absolute;
    left: 642px;
    top: 48px;
}

#timerTypes{
    position: absolute;
    left: 543px;
    top: 135px;
    width: 373px;
    height: 63px;
    border-radius: 50px;
    background-color: #161932;
    
}

.timerText{
    color: #D7E0FF;
    font-family: 'kumbhSans', serif;
    font-size: 14px;
    position: absolute;
    top: 23px;
    bottom: 22px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.4;
}
#pomo{
    left: 30px;
}
#short{
    left: 154.33px;
}
#long{
    left: 278.66px;
}

#controlsWrap{
    position: relative;
    height: 410px;
    width: 410px;
    border-radius: 100%;
    background:linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
    box-shadow:-50px -50px 100px #272C5A, 50px 50px 100px #121530;
    position: relative;
    top:243px;  /*used the timerTypes position to calculate. ie. [ (controlsWrap width-timerTypes width)/2 ] - starting point of timerTypes*/
    left:524.5px;
}
#controls{
    height: 366px;
    width: 366px;
    background-color:#161932;
    border-radius: 100%;
    position:absolute;
    top: 22px;
    left: 22px;
    
}
#controlFont{
    /*position: absolute;
    top:259px;
    left:127px;
    height:18px;
    width:71px;
    font-family: 'kumbhSans', monospace;
    color: #D7E0FF;
    letter-spacing: 15px;*/
    
    position: absolute;
    height: 25px;
    width:125px;
    left: 36.34%;
    right: 36.1%;
    top: calc(50% - 20px/2 + 86px);

    font-family: 'kumbhSans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 15px;
    color: #D7E0FF;
    background-color:#161932;
    border-width:0px;
}

#setSVG{
    position: absolute;
    left: 705.23px;
    top: 716px;
}

#settings{
    background: #FFFFFF;
    border-radius: 25px;
    height: 464px;
    width: 540px;
    position: relative;
}
#settings:hover{
    cursor: pointer;
}
.divi{
    height:1px;
    background: #e3e1e1;
}
#divi1{
    width:540px;
    position: absolute;
    top: 93px;
    bottom:370px;
    background: red;
}
#divi2{
    width: 460px;
    position: absolute;
    top: 251px;
    bottom:212px;
    left:40px;
    right: 40px;
    background: red;
}
#divi3{
    width: 460px;
    position: absolute;
    top: 340px;
    bottom:123px;
    left: 40px;
    right: 40px;
    background: red;
}

#setHead{
    width: 109px;
    height: 28px;
    position: absolute;
    top: 34px;
    left: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    
}
.setText{
    font-family: 'kumbhSans';
    color: #161932;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 5px;
}
.minuteText{
    font-family: "kumbhSans";
    color: #EFF1FA;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0px;
    color: #1E213F;

    mix-blend-mode: normal;
    opacity: 0.4;

}

#closeSVG{
    position: absolute;
    top: 47.64px;
    left: 488.64px;
    height: 14px;
    width: 14px;
 
}
#timeTypes{
    width: 462px;
    height: 109px;
    position: absolute;
    top: 118px;
    left: 40px;
}
#pomTimer{
    position: absolute;
    left: 40px;
    top: 157px;
    width: 140px;
    height: 70px;
}
#shortTimer{
    position: absolute;
    left: 200px;
    top: 157px;
    width: 140px;
    height: 70px;
}
#longTimer{
    position: absolute;
    left: 362px;
    top: 157px;
    width: 140px;
    height: 70px;
}
.input{
    height:48px;
    width: 140px;
    background: #EFF1FA;
    border-radius: 10px;
    border-width: 0px;
    color: #1E213F;
}
#font{
    height: 40px;
    width: 462px;
    position: absolute;
    top: 276px;
    right: 38px;
}

.choice{
    height: 40px;
    width: 40px;
    border-width: 0px;
    border-radius: 100%;
}
#kumbh{
    position: absolute;
    left:350px;
    top: 276px;
    background: #161932;
    color: #FFFFFF;
    font-family: "kumbhSans";
}
#mono{
    position: absolute;
    left:401px;
    top: 276px;
    background: #EFF1FA;
    color: #1E213F;
    font-family: "spaceMono";
}
#roboto{
    position: absolute;
    left:462px;
    top: 276px;
    background: #EFF1FA;
    color: #1E213F;
    font-family: "robotoSlab";
}
#sampleText{
    position: absolute;
    left: 10px;
    bottom: 1px;
}
#colour{
    height: 40px;
    width: 462px;
    position: absolute;
    top: 365px;
    right: 38px;
}
#red{
    position: absolute;
    left: 350px;
    top: 365px;
    background: #F87070;
}
#green{
    position: absolute;
    left:401px;
    top: 365px;
    background: #70F3F8;
}
#purple{
    position: absolute;
    left:462px;
    top: 365px;
    background: #D881F8;
}
#apply{
    width: 140px;
    height: 53px;
    border-radius:0px;
    position: absolute;
    top: 437px;
    left: 201px; 
    background: #f87070;
    border-radius: 26.5px;
    border-width: 0px;
    color: #FFFFFF;
    font-family: "kumbhSans";
}

/*Tablet size mods*/
@media(max-width: 768px){
    body{
        width: 768px;
        height: 1024px;
    }

    #titleSVG{
        
        left: 306px;
        top: 80px;
    }
    #timerTypes{
        top: 167px;
        left: 198px;
    }
    #controlsWrap{
        left: 179px;
        top: 339px;
    }
    #setSVG{
        left: 369px;
        top: 893px;
    }
}
/*Phone size mods*/
@media(max-width: 275px){
    body{
        max-width: 275px;
        height: 667px;
    }

    #titleSVG{
        width:117px;
        height: 24px;
        left: 128.5px;
        top: 32px;
    }
    
    #timerTypes{
        width: 327px;
        height: 63px;
        top: 101px;
        left: 24px;
        position: relative;
    }
    
    .timerText{
        font-size: 12px;
        line-height: 15px;
    }
    #pomo{
        position: absolute;
        left: 28.93px;
        top: 26px;
    }
    #short{
        position: absolute;
        top: 26px;
        left: 131.02px;
    }
    #long{
        position: absolute;
        top: 26px;
        left: 235.12px;
    }
    #controlsWrap{
        width: 300px;
        height: 300px;
        left: 38px;
        top: 212px;
    }
    #controls{
        height: 267.8px;
        width: 267.8px;   
    }
    #setSVG{
        height: 28px;
        width: 28px;
        left: 173px;
        top: 591px;
    }
    #settings{
        width:327px;
        height: 549px;
        top: 46px;
        left: 24px;
        right: 24px;
        bottom: 72px;
    }
    #setHead{
        height: 20px;
        left: 24px;
        right: 68.81%;
        top: 24px;
        font-size: 20px;
        line-height: 25px;
    }
    #closeSVG{
        left: 289px;
        top: 29px;
    }
    #divi1{
        width:327px;
        top: 72px;
        bottom: 476px;
    }
    #timeTypes{
        width: 152px;
        height: 11px;
        top: 97px;
        left: 93px;
        font-size: 11px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 4.23077px;
    }
    #pomTimer{
        left: 23px;
        top: 141px;
    }
    #shortTimer{
        left: 23px;
        top: 189px;
    }
    #longTimer{
        left: 23px;
        top: 237px;
    }
    .input{
        width: 140px;
        height: 40px;
        position: absolute;
        bottom: 40px;
        left: 140px;
        color: #000000;
        background-color: rgba(128,128,128,0.5);
    }
    /*#pomInput{
        background-color: red;
    }
    #shortInput{
        background-color: yellow;
    }
    #longInput{
        background-color: green;
    }*/
    #divi2{
        width: 280px;
        top: 286px;
        bottom: 262px;
        left:24px;
        right: 23px;
    }
    #font{
        width: 327px;
        left: 0px;
        text-align: center;
        top: 296px;/*286px*/
    }
    #fontChoice{
        position: absolute;
        left: -257px;
        top: 60px;
    }
    #divi3{
        width: 280px;
        top: 404px;
        bottom: 144px;
        left: 24px;
        right: 23px;
    }
    #colour{
        width: 327px;
        left: 0px;
        text-align: center;
        top: 414px;/*404px*/
    }
    #colourChoice{
        position: absolute;
        left: -257px;
        top: 80px;
    }
    #apply{
        position: absolute;
        top: 522.5px;
        left: 93.5px;
    }

}